.texto-principal {
  font: 700 2rem/0 "Nunito", sans-serif;
}

.titulo {
  font: 700 3.2rem/4rem "Nunito", sans-serif;
}

.subtitulo {
  font: 700 2.8rem/1.125 "Nunito", sans-serif;
}

.texto-links {
  font: 700 1.2rem/0 "Nunito", sans-serif;
}

.texto-p {
  font: 700 1rem/0 "Nunito", sans-serif;
}

.texto-p400 {
  font: 400 1rem/2 "Nunito", sans-serif;
}
