.header-bg {
  background-color: #122ab2;
  color: white;
}

.header-horario {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  flex-wrap: wrap;
}

.header-horario a,
.header-horario p {
  margin: 0px 10px 10px 10px;
  color: white;
}

.header-conteudo-bg {
  background-color: #2c70ff;
}

.header-conteudo {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px 0px;
}

.flex-logo {
  color: white;
  margin: 0 10px;
}

.header-links {
  display: flex;
  gap: 0px 20px;
  flex-wrap: wrap;
}

.header-links a {
  color: white;
  display: block;
  padding: 10px;
}

.header-links a:hover {
  color: #122ab2;
}
