body {
  margin: 0px;
  padding: 0px;
  color: #222;
}

li {
  list-style: none;
}

h1,
p,
h2,
h3,
a,
li,
a,
ul {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

* {
  box-sizing: border-box;
}
