.introducao {
  padding-top: 60px;
  padding-bottom: 60px;
}

.introducao h1 {
  border-bottom: 2px solid #2c70ff;
  padding-bottom: 60px;
  margin: 0px 10px;
}

.introducao-conteudo {
  padding-top: 60px;
  padding-bottom: 60px;
  border-bottom: 2px solid #2c70ff;
  margin: 0px 10px;
  display: flex;
  flex-wrap: wrap;
}

.introducao-conteudo h2 {
  padding-bottom: 30px;
}

.sobre-info {
  flex: 2 1 300px;
}

.sobre-info p {
  margin-bottom: 20px;
  color: #7c7c7c;
}

.introducao-img {
  flex: 1 1 160px;
  margin: 0px 10px;
}
@media (max-width: 800px) {
  .introducao-img {
    display: none;
  }
}
