.produtos {
  padding-bottom: 60px;
}

.produtos h1 {
  padding-bottom: 80px;
  margin: 0px 10px;
}

.produtos-img {
  display: flex;
  margin: 0px 10px;
  gap: 20px;
  align-items: flex-end;
  color: #a4a4a4;
  flex-wrap: wrap;
}

.produtos-item {
  flex: 1 1 175px;
}

.produtos-img h2 {
  padding: 60px 30px;
  background-color: #f7f7f7;
}

.purple {
  border-top: 8px solid #ae81ff;
}

.pink {
  border-top: 8px solid #f9265e;
}

.blue {
  border-top: 8px solid #66d9eb;
}
